<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TurmixBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TurmixBatch.Properties.Settings>
            <setting name="saveDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbHost" serializeAs="String">
                <value>cpc-009</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>turmix</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>dev</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>dev</value>
            </setting>
        </TurmixBatch.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
